.material-icons-outlined{
    line-height: 0.5em;
    user-select: none;
    
}
#container{
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: flex-start;
}
#container>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}
.field{
    position: relative;
    display: inline-block;
    background-color: red;
}
.field span{
    position: absolute;
    right: 0;
    padding: 0.5em;
   
    cursor: pointer;

}
input{
    padding: 0.5em;
}
#conditionContainer span{
    margin-right: 0.5em;
    color: #f00;
}